# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment variables
.env
/server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/client/build

# Misc
.DS_Store
/uploads
/server/extracted-text.txt

# User data - exclude PDFs and IPYNBs
*.pdf
*.ipynb